@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --ctp-mocha-base: #1e1e2e;
    --ctp-mocha-mantle: #181825;
    --ctp-mocha-crust: #11111b;
    --ctp-mocha-text: #cdd6f4;
    --ctp-mocha-subtext0: #a6adc8;
    --ctp-mocha-subtext1: #bac2de;
    --ctp-mocha-overlay0: #6c7086;
    --ctp-mocha-overlay1: #7f849c;
    --ctp-mocha-surface0: #313244;
    --ctp-mocha-surface1: #45475a;
    --ctp-mocha-surface2: #585b70;
    --ctp-mocha-blue: #89b4fa;
    --ctp-mocha-green: #a6e3a1;
    --ctp-mocha-red: #f38ba8;
    --ctp-mocha-yellow: #f9e2af;
    --ctp-mocha-peach: #fab387;
    --ctp-mocha-mauve: #cba6f7;
    --ctp-mocha-pink: #f5c2e7;
    --ctp-mocha-maroon: #eba0ac;
    --ctp-mocha-teal: #94e2d5;
    --ctp-mocha-sky: #89dceb;

    --ctp-latte-base: #eff1f5;
    --ctp-latte-mantle: #e6e9ef;
    --ctp-latte-crust: #dce0e8;
    --ctp-latte-text: #4c4f69;
    --ctp-latte-subtext0: #6c6f85;
    --ctp-latte-subtext1: #5c5f77;
    --ctp-latte-overlay0: #9ca0b0;
    --ctp-latte-overlay1: #8c8fa1;
    --ctp-latte-surface0: #ccd0da;
    --ctp-latte-surface1: #bcc0cc;
    --ctp-latte-surface2: #acb0be;
    --ctp-latte-blue: #1e66f5;
    --ctp-latte-green: #40a02b;
    --ctp-latte-red: #d20f39;
    --ctp-latte-yellow: #df8e1d;
    --ctp-latte-peach: #fe640b;
    --ctp-latte-mauve: #8839ef;
    --ctp-latte-pink: #ea76cb;
    --ctp-latte-maroon: #e64553;
    --ctp-latte-teal: #179299;
    --ctp-latte-sky: #04a5e5;
}

html {
    overflow-y: scroll;
    color-scheme: light;
}

html.dark {
    color-scheme: dark;
}

html, body {
    @apply size-full;
}

body {
    @apply font-sans antialiased;
    @apply flex flex-col;
    @apply bg-[var(--ctp-latte-base)] dark:bg-[var(--ctp-mocha-base)];
    @apply text-[var(--ctp-latte-text)] dark:text-[var(--ctp-mocha-text)];
}

header {
    @apply fixed top-0 left-0 right-0 z-50 py-5;
    @apply bg-[var(--ctp-latte-mantle)/75] dark:bg-[var(--ctp-mocha-mantle)/75];
    @apply backdrop-blur-sm saturate-100;
}

main {
    @apply flex-1 py-32;
}

footer {
    @apply py-5 text-sm;
}

article {
    @apply max-w-full prose dark:prose-invert prose-img:mx-auto prose-img:my-auto;
    @apply prose-headings:font-semibold prose-p:font-sans;
    @apply prose-headings:text-[var(--ctp-latte-text)] prose-headings:dark:text-[var(--ctp-mocha-text)];
}

@layer utilities {
    article a {
        @apply font-sans text-current underline underline-offset-2;
        @apply decoration-[var(--ctp-latte-text)/30] dark:decoration-[var(--ctp-mocha-text)/30];
        @apply transition-colors duration-300 ease-in-out;
    }
    article a:hover {
        @apply text-[var(--ctp-latte-text)] dark:text-[var(--ctp-mocha-text)];
        @apply decoration-[var(--ctp-mocha-text)/50] dark:decoration-[var(--ctp-mocha-text)/50];
    }
}

.animate {
    @apply opacity-0 translate-y-3;
    @apply transition-all duration-700 ease-out;
}

.animate.show {
    @apply opacity-100 translate-y-0;
}

html #back-to-top {
    @apply opacity-0 pointer-events-none;
}

html.scrolled #back-to-top {
    @apply opacity-100 pointer-events-auto;
}